* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  background-repeat: repeat;
  background-image: linear-gradient(rgba(192, 180, 180, 0.7) ,rgba(192, 180, 180, 0.5)),
                  url("./images/background.jpg");
}
